We would like to explore and process the flights data in order to answer following questions:

1. how many total number of days does the flights table cover?
2. how many departure cities (not airports) does the flights database cover?
3. what is the relationship between flights and planes tables?
4. which airplane manufacturer incurred the most delays in the analysis period?
5. which are the two most connected cities?

In [ ]:
!git clone https://github.com/RevolveSolutions/backend-engineer.git
!tar -xvzf /content/backend-engineer/data.tar.gz

fatal: destination path 'backend-engineer' already exists and is not an empty directory.
data/
data/airports.csv
data/flights.csv
data/airlines.csv
data/planes.csv
data/weather.csv

In [1]:
import pandas as pd
flight = pd.read_csv("data/flights.csv")

In [2]:
flight

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,NaN,NaN,NaN,9E,NaN,3393,JFK,DCA,NaN,213,NaN,NaN
336772,2013,9,30,NaN,NaN,NaN,NaN,9E,NaN,3525,LGA,SYR,NaN,198,NaN,NaN
336773,2013,9,30,NaN,NaN,NaN,NaN,MQ,N535MQ,3461,LGA,BNA,NaN,764,NaN,NaN
336774,2013,9,30,NaN,NaN,NaN,NaN,MQ,N511MQ,3572,LGA,CLE,NaN,419,NaN,NaN
336775,2013,9,30,NaN,NaN,NaN,NaN,MQ,N839MQ,3531,LGA,RDU,NaN,431,NaN,NaN

In [3]:
(flight["arr_delay"] == 0).sum()

5409

### 1. how many total number of days does the flights table cover?

In [19]:
def get_ans1(flight):
    flight["date"] = flight["day"].astype(str) +"-"+flight["month"].astype(str) + "-" + flight["year"].astype(str)
    flight["date"] = pd.to_datetime(flight["date"])
    return flight["date"].nunique()

In [20]:
get_ans1(flight) # There are total 365 days the flights table cover.

365

## Reading Aitport Data

In [12]:
airport = pd.read_csv("data/airports.csv")

In [ ]:
airport

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

### 2. how many departure cities (not airports) does the flights database cover?

In [22]:
def get_ans2():
    return pd.merge(flight,airport,left_on = "origin",right_on="IATA_CODE",how="left")["CITY"].nunique()

In [23]:
get_ans2() # 2 departure cities (not airports) does the flights database cover.

2

### Reading Plane Data

In [14]:
plane = pd.read_csv("data/planes.csv")

In [ ]:
#

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan
...,...,...,...,...,...,...,...,...,...
3317,N997AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3318,N997DL,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3319,N998AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3320,N998DL,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,NaN,Turbo-jet
3321,N999DN,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,NaN,Turbo-jet

### 4. which airplane manufacturer incurred the most delays in the analysis period?

In [25]:
def get_ans4():
    d = plane[["tailnum","manufacturer"]].merge(flight,on="tailnum",how="right")
    delays = d.groupby("manufacturer").apply(lambda x : (x["dep_delay"] + x["arr_delay"]).sum())
    return delays.idxmax()

In [26]:
get_ans4() # 'EMBRAER' airplane manufacturer incurred the most delays in the analysis period.

'EMBRAER'

### 5. which are the two most connected cities?

In [27]:
def get_ans5():
    airport_map = dict(zip(airport["IATA_CODE"],airport["CITY"]))
    source = flight["origin"].map(airport_map)
    dest = flight["dest"].map(airport_map)
    path = source+" => "+dest
    return path.value_counts().idxmax()

In [28]:
get_ans5()# New York => Chicago is the most connected city

'New York => Chicago'

### what is the relationship between flights and planes tables?

In [30]:
flight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 17 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   year       336776 non-null  int64
 1   month      336776 non-null  int64
 2   day        336776 non-null  int64
 3   dep_time   328521 non-null  float64
 4   dep_delay  328521 non-null  float64
 5   arr_time   328063 non-null  float64
 6   arr_delay  327346 non-null  float64
 7   carrier    336776 non-null  object
 8   tailnum    334264 non-null  object
 9   flight     336776 non-null  int64
 10  origin     336776 non-null  object
 11  dest       336776 non-null  object
 12  air_time   327346 non-null  float64
 13  distance   336776 non-null  int64
 14  hour       328521 non-null  float64
 15  minute     328521 non-null  float64
 16  date       336776 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(5), object(4)
memory usage: 43.7+ MB

In [33]:
plane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3322 entries, 0 to 3321
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tailnum       3322 non-null   object
 1   year          3252 non-null   float64
 2   type          3322 non-null   object
 3   manufacturer  3322 non-null   object
 4   model         3322 non-null   object
 5   engines       3322 non-null   int64
 6   seats         3322 non-null   int64
 7   speed         23 non-null     float64
 8   engine        3322 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 233.7+ KB

#### The only common featues of the 'plane' and 'flight' table is 'tailnum' which is  the aircraft registration number. This is only the common factor between two tables.